// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//cmd: sass resources/sass/app.scss public/css/style.css

$bgc: #990000;
$footer_bgc: #333399;
$footer_color: #cccc66;

body {
    background-color: $bgc;
  }

nav.navbar {
    margin: 0 0 1rem 0;
}
.nav-item.dropdown {
    margin: 0 1rem 0 0;
  }
  
.footer {
    text-align: center;
    background-color: $footer_bgc !important;
    color: $footer_color;
    
  }
  
.img_container {
    display: flex;
    width: 100%;
    margin: 10vh 0 0 0;
    justify-content: center;
  
  }

.main_logo {
    width: 60%;  
  }

#main-sidebar {
  margin: 0 0 1rem 0;
}
